---
import Icon from "../../components/Icon.astro";
import IntelligentText from "../../components/IntelligentText.astro";
import Properties from "../../components/Properties.astro";
import {
    jikanCharacterExternalIdKey,
    narutoFolder,
    onePieceFolder,
    pokemonExternalIdKey,
    pokemonFolder,
} from "../../consts";
import Layout from "../../layouts/Layout.astro";
import {
    getAstroStore,
    type MarkdownVaultFile,
    getStoreApiItemSlug,
} from "../../lib/astroDataStore";

export function getStaticPaths() {
    return getAstroStore().then((store) => {
        return store.vault.resources.map((resource: MarkdownVaultFile) => ({
            params: { slug: resource.slug },
            props: { resource },
        }));
    });
}

const store = await getAstroStore();
const { resource }: { resource: MarkdownVaultFile } = Astro.props;
if (resource.folder === pokemonFolder) {
    const slug = getStoreApiItemSlug(
        store.pokemons.find(
            (character) =>
                character.nameEn == resource.data[pokemonExternalIdKey],
        ),
    );
    if (slug) return Astro.redirect(`/pokemon/${slug}`);
}
if (resource.folder === narutoFolder) {
    const slug = getStoreApiItemSlug(
        store.naruto.find(
            (character) =>
                character.id == resource.data[jikanCharacterExternalIdKey],
        ),
    );
    if (slug) return Astro.redirect(`/naruto/${slug}`);
}
if (resource.folder === onePieceFolder) {
    const slug = getStoreApiItemSlug(
        store.onePiece.find(
            (character) =>
                character.id == resource.data[jikanCharacterExternalIdKey],
        ),
    );
    if (slug) return Astro.redirect(`/one-piece/${slug}`);
}
---

<Layout title={resource.name}>
    <div class="w-5/6 mx-auto mt-5">
        <div class="inline-flex justify-between items-center w-full">
            {resource && <Properties resource={resource} />}
            {resource && <Icon resource={resource} />}
        </div>

        <div>Fiche de : {resource.name}!</div>
        <IntelligentText text={resource?.content} />
    </div>
</Layout>
